// Setup
// =================================================
.l-flex-grid {
    display: flex !important;
    flex-wrap: wrap !important;
}

.l-flex-grid__cell {
    flex: 1 !important;
}

// Helper for cell matching height
// =================================================

.l-flex-grid--flex-cells > .l-flex-grid__cell {
  display: flex !important;
}

// Gutter modifiers
// =================================================
.l-flex-grid--gutters {
    margin: -1em 0 0 -1em !important;
}

.l-flex-grid--gutters > .l-flex-grid__cell {
    padding: 1em 0 0 1em !important;
}

.l-flex-grid--gutters-lg {
    margin: -2em 0 0 -2em !important;
}

.l-flex-grid--gutters-lg > .l-flex-grid__cell {
    padding: 2em 0 0 2em !important;
}

// clear grid when full column
.l-flex-grid--full {
    margin: 0 !important;
}

// Alignment per column
// =================================================
.l-flex-grid--h-left {
    justify-content: flex-start !important;
}

.l-flex-grid--h-right {
    justify-content: flex-end !important;
}

.l-flex-grid--h-center {
    justify-content: center !important;
}

// Alignment per row
// =================================================
.l-flex-grid--v-top {
    align-items: flex-start !important;
}

.l-flex-grid--v-bottom {
    align-items: flex-end !important;
}

.l-flex-grid--v-center {
    align-items: center !important;
}

// Alignment per cell
// =================================================
.l-flex-grid__cell--top {
    align-self: flex-start !important;
}

.l-flex-grid__cell--bottom {
    align-self: flex-end !important;
}

.l-flex-grid__cell--center {
    align-self: center !important;
}

// Single cell size helpers
// =================================================
.u-full {
    width: 100% !important;
    flex: none !important;
}

.u-shrink {
    flex: inherit !important;
}
