body {
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-size-base;
}

body {
  font-size: 1rem;
  font-family: $body-text-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fbfb;
}