
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}

@keyframes flash-info-color {
  10% { background-color: $info-light; }
  90% { background-color: $info-light; }
}

.has-changed {
  animation: flash-info-color 4s;
}
